.imageloader-delete-image
{
    background: url('delete.png');
    width: 16px;
    height: 16px;
}


.imageloader-external
{
    display: inline-block; 
    text-align: left; 
    margin: 5px;
}
.imageloader-cross
{
    position: relative; 
    z-index: 2; 
    float: right;
    text-align: right;
    cursor: pointer;
}
.imageloader-pic
{
    position: relative; 
    z-index: 1; 
    left: 0px; 
    top: -16;
    margin-bottom: -16;
}
.imageloader-hidden
{
    display: none;
}

.imageloader-add-image-external
{
    text-align: center; 
    overflow: hidden; 
    width: 120px; 
    height: 200px; 
    border: 1px solid #038f1a; 
}